name: Build

on:  
  push:
  workflow_dispatch:

jobs:
  windowsBuildAndroid:
    name: Build Android
    runs-on: ubuntu-latest
      
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4
      
      #- name: Setup tmate session
      #  uses: mxschmitt/action-tmate@v3
      #  with:
      #    detached: true
      #    limit-access-to-actor: false
      
      - name: Build Unity Project
        uses: game-ci/unity-builder@main
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: Android
          androidExportType: androidAppBundle
          androidSymbolType: public
          customImage: "madronagames/editor:windows-2022.3.1f1-android"
          buildMethod: UnityBuilderAction.Builder.BuildProject
