name: Build

on:
  push:
  workflow_dispatch:

jobs:
  windowsBuild:
    name: Build Windows
    runs-on: windows-2022

    steps:
      - name: Checkout Project
        uses: actions/checkout@v4

      #- name: Setup tmate session
      #  uses: mxschmitt/action-tmate@v3
      #  with:
      #    detached: true
      #    limit-access-to-actor: false

      - name: Build Unity Project
        uses: game-ci/unity-builder@additional-fixes
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: StandaloneWindows64
