name: Build

on:  
  push:
  workflow_dispatch:

jobs:
  run:
    name: Run
    runs-on: ubuntu-latest  
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.sha }}
      
      - run: |
          echo ${{ github.sha }}
          git rev-parse HEAD
          git rev-list --count ${{ github.sha }}
          git rev-list --count HEAD
          git status
