name: Build

on:  
  push:
  workflow_dispatch:

jobs:
  run:
    name: Run
    runs-on: ubuntu-latest  
    steps:
      - uses: actions/checkout@v3
      - run: |
          echo ${{ github.sha }}
          echo git rev-parse HEAD
          git rev-list --count ${{ github.sha }}
          git rev-list --count HEAD
